<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.asflow.mapper.ModelMapper">
    <select id="getModel" resultType="com.swpu.asflow.entity.ModTable" parameterType="list">
        select m.did,m.uid,m.title,m.content ,m.time,m.flag,u.name from users u join model m where m.uid=u.id and m.id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by m.time
    </select>
</mapper>
