.top_title{
	margin-left: 1vw;

}

.one{
	font-size: 3vw;
	text-align: center;
}

.two{
	margin-left: 380px;
	margin-right: 380px;
	margin-top: 100px;
}

u{
	cursor: pointer;
	line-height: 50px;
}

.two td,th{
	height: 50px;
	border: 1px solid black;
}

.two table{
	width: 80%;
	margin-bottom: 100px;
}