.top_title {
	margin-left: 1vw;

}

.one {
	font-size: 3vw;
	text-align: center;
	margin-bottom: 20px;
}

.two {
	margin-left: 80px;
	margin-right: 80px;
}

.site-doc-icon ul {
	/* display:table; */
	display: inline;
	margin-left: 10px;
}

.site-doc-icon li .layui-anim {
	width: 10vw;
	height: 10vw;
	line-height: 150px;
	margin: 0 auto 10px;
	text-align: center;

	cursor: pointer;
	color: #fff;
	border-radius: 50%;
	float: left;
	margin-left: 7vw;
}

.three {
	margin-left: 4vw;
	margin-right: 4vw;
	height: 30vh;
}
.four_table{
	margin: 0 auto;
}
.four_table td,th{
	border: 1px solid black;
	height: 6vh;

}

.four {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 5vh;
}
