body{
    background-image: url("/img/bg.jpg");
    border: 0px;
}
.login_form{
    text-align: center;
    margin-top: 50px;
}

.btn{
    text-align: center;
    width: 80px;
    height: 30px;
}

.text{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

.reg{
    margin-top: 10px;
    cursor: pointer;
    size: 10px;
    color: cornflowerblue;
}

.label{
    font-size: 15px;
}

select{
    height: 35px;
    width: 135px;
    margin-bottom: 10px;
}