<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/lib/layui/css/layui.css" media="all" />
	</head>
	<body>
	<div>
		<br />

		模块标题：<input id="title" type="text" placeholder="请输入模块名"/>
		<br />
		<br />
		<br />
		<label>模块内容：</label><textarea id="content" rows="5" cols="30" style="vertical-align:top" placeholder="请输入模块描述"></textarea>
		<br />
		<br />
		<button style="margin-left: 30vw;" onclick=sub()>确定</button><button style="margin-left: 20vw;" onclick="parent.layer.closeAll()">取消</button>
	</div>
	</body>
	<script src="/lib/jquery-3.4.1.min.js"></script>
	<script src="/lib/layui/layui.js" charset="utf-8"></script>
	<script src="/lib/layer/layer.js"></script>
	<script src="/js/common.js"></script>
<script>
	$.ajax({
		url:"project/join",
		type:"get",
		data:{id:parent.getParam("pid"),uid:sessionStorage.getItem("uid")},
		success:function (msg) {
			if (msg.code==200) {
				alert(msg.data.tip);
			}else {
				if (msg.data.code=="2") {
					alert("无权访问");
					location="/index";
				}
			}
		}
	})
	function sub() {
		var title=$("#title").val();
		var content=$("#content").val();
		if(title==""||title==null||content==""||content==null){
			layer.msg('信息不完整', {
				icon: 1,
				time: 2000 //2秒关闭（如果不配置，默认是3秒）
			});
		}else {
			$.ajax({
				url:"/model/addModel",
				type:"post",
				data:{uid:sessionStorage.getItem("uid"),title:title,content:content,did:getParam("did")},
				success:function (msg) {
					if(msg.code==200){
						parent.layer.msg('添加失败', {
							icon: 1,
							time: 2000 //2秒关闭（如果不配置，默认是3秒）
						});
					}else{
						parent.layer.msg('添加成功', {
							icon: 1,
							time: 2000 //2秒关闭（如果不配置，默认是3秒）
						},function () {
							parent.location=parent.location;
						});
					}

				}
			})
		}
	}
</script>
</html>
