<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/lib/layui/css/modules/layer/default/layer.css" />
    <link href="/css/model_list.css" rel="stylesheet" />
</head>
<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<body>

<table style="width: 60%;margin: 0 auto" class="layui-hide" id="test" lay-filter="test"></table>
<div style="text-align: center"><button  onclick=addint()>添加接口</button></div>

</body>
<script src="/lib/jquery-3.4.1.min.js"></script>
<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/js/common.js"></script>
<script src="/lib/vue.js"></script>
<script type="text/html" id="barDemo2">
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除接口</button>
</script>
<script>

    $.ajax({
        url:"project/join",
        type:"get",
        data:{id:parent.getParam("pid"),uid:sessionStorage.getItem("uid")},
        success:function (msg) {
            if (msg.code==200) {
                alert(msg.data.tip);
            }else {
                if (msg.data.code=="2") {
                    alert("无权访问");
                    location="/index";
                }
            }
        }
    })

    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#test'
            ,url:'/interface/getint'
            ,title: '需求表'
            ,where:{
                mid:getParam("mid")
            }
            // ,width:'1200'
            ,cols: [
                [
                    {field:'title', title:'接口名', width:150},
                    {field:'parameter',width:400, title:'接口参数',templet:function (dpt) {
                        var data=[];
                        data=dpt.parameter.split(",");
                        var a="";
                        for (var i=0 ;i<data.length;i++){
                            a+=data[i]+"<br>"
                        }
                        return a;
                    }},
                    {field:'returnss', title:'返回结果', width:350}
                    ,{field:'time', title:'创建时间', width:200}
                    ,{field:'disc', title:'接口描述', width:200}

                    ,{fixed: '', title:'操作', toolbar: '#barDemo2'}
                ]
            ]
            ,page: true
        });table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                $.ajax({
                    url:"/project/check",
                    type:"get",
                    data:{pid:parent.getParam("pid")},
                    success:function (msg) {
                        if(msg.code==100){
                            if(msg.data.project.stage>3){
                              alert("违规操作");
                              return;

                            }else {
                                layer.confirm('确认删除', function(index){
                                    $.ajax({
                                        url:"/interface/del",
                                        type:"get",
                                        data:{id:obj.data.id},
                                        success:function (msg) {
                                            if (msg.code==100){
                                                parent.layer.msg("删除成功",{icon:1,time:3000},function () {
                                                    location=location;
                                                })
                                            }else {
                                                parent.layer.msg("删除失败",{icon:2,time:3000})
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    }
                });
               }



        });
    })

    function addint() {
        layer.open({
            title: '发送邮件',
            closeBtn: 1,
            shadeClose: true,
            type: 2,
            area: ['850px', '400px'],
            fixed: false, //不固定
            maxmin: true,
            content: '/add_interface?mid='+getParam("mid"),

        });
    }
</script>
</html>