<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/lib/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/lib/layui/css/modules/layer/default/layer.css" />
		<link href="/css/model_list.css" rel="stylesheet" />
	</head>
	<body>
	<div id="v_modelList">
		<ul class="layui-nav">
			<li class="layui-nav-item top_title">

				<a style="font-size: 3.5vw!important;letter-spacing: 1vw; color: white;cursor: pointer;" href="index">欢迎进入AS软件开发全流程管理平台</a>
			</li>


			<!-- <li class="layui-nav-item">
		  <a href="">个人中心<span class="layui-badge-dot"></span></a>
		</li> -->
			<li class="layui-nav-item" lay-unselect="" style="float: right;margin-right: 2vw;">
				<a href="javascript:;">
					<!-- <img src="//t.cn/RCzsdCq" class="layui-nav-img"> -->欢迎:{{uname}}</a>
				<dl class="layui-nav-child">
					<dd><a style="cursor: pointer;" onclick=creat()>创建项目</a></dd>
					<dd><a style="cursor: pointer;" onclick=xinxi()>修改信息</a></dd>
					<dd><a style="cursor: pointer;" onclick=mail()>发邮件</a></dd>
					<!-- <dd><a href="javascript:;">安全管理</a></dd> -->
					<dd><a href="javascript:;">退出</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item" style="float: right;">

				<a href="/msg">消息<span class="layui-badge" >{{num}}</span></a>
			</li>
		</ul>
		<div><span style="margin: 20px;font-size: 20px;color:red">当前阶段：概要设计</span>
			<button style="margin: 20px;font-size: 20px;color:black;display: inline"  onclick=showpdf()>查看需求设计文档</button></div>
		<div class="one">
			<p>我的项目需求</p>
		</div>
		<div class="two">
			<table>
				<thead><tr>
					<th>需求名：</th>
					<th>状态</th>
				</tr></thead>
				<tbody v-for="d in data1">
				<tr>
					<td>
						<p style="cursor: pointer" @click=tomodel(d.id)>{{d.title}}</p>
					</td>
					<td v-if="!ifdo(d.id)">未处理</td>
					<td v-else-if="ifdo(d.id)">已处理</td>
				</tr>
				</tbody>



			</table>
		</div>
		<form action="/sql/upload"   id="upload1" method="post"   enctype="multipart/form-data">
			<input type="text"  hidden="hidden" name="uid" id="uid" >
			<input type="text"  hidden="hidden" name="pid" id="pid" >
			<label style="margin-left: 400px;">上传数据库脚本文件：</label><button class="layui-btn"><input name="upfile" id="upfile" accept="application/sql" type="file" /></button>
		<input type="submit" value="提交">
		</form>

		<button onclick=toInterface() class="layui-btn" style="float: right;margin-right: 20px;">进入下一阶段</button>
	</div>
	</body>
	<script src="/lib/jquery-3.4.1.min.js"></script>
	<script src="/lib/jquery.form.js"></script>
	<script src="/lib/layui/layui.js" charset="utf-8"></script>
	<script src="/lib/layer/layer.js"></script>
	<script src="/js/common.js"></script>
	<script src="/lib/vue.js"></script>

	<script>
		$(document).ready(function(){
			$("#uid").val(sessionStorage.getItem("uid"));
			$("#pid").val(getParam("pid"));
		});
		$("#upload1").ajaxForm(function () {
			alert("111");
			// layer.msg(ok.data.tip,{icon:1,time:2000});
		});
		$.ajax({
			url:"project/join",
			type:"get",
			data:{id:getParam("pid"),uid:sessionStorage.getItem("uid")},
			success:function (msg) {
				if (msg.code==200) {
					alert(msg.data.tip);
				}else {
					if (msg.data.code=="2") {
						alert("无权访问");
						location="/index";
					}
				}
			}
		})
		$.ajax({
			url:"/project/check",
			type:"get",
			data:{pid:getParam("pid")},
			success:function (msg) {
				if(msg.code==100){
					if(msg.data.project.stage>2){
						$(".layui-btn").css("background-color","grey");
						$(".layui-btn").css("cursor","not-allowed");
						$(".layui-btn").attr("disabled","disabled");

					}
				}
			}
		});
		$.ajax({
			url:"/mail/getnum",
			type:"get",
			data:{id:sessionStorage.getItem("uid")},
			success:function (msg) {
				sessionStorage.setItem("num",msg.data.tip);
			}
		});
		var v_modelList=new Vue({
			el: '#v_modelList',
			data: {
			data1:[],
				uname: "",
				num:sessionStorage.getItem("num")
			},
		beforeCreate:function () {

			$.ajax({
					url:"/demand/modelList",
					type:"get",
					data:{pid:location.search.split("=")[1]},
			success:function (msg) {

				v_modelList.data1=msg.data.demand;
					}
			});
		},
			methods: {
				tomodel: function (id) {
					location = '/model?did=' + id + "&pid=" + pid;
				},
				ifdo: function (did) {
					var type;
					$.ajax({
						url: "/model/ifdo",
						type: "get",
						data: {did: did},
						async: false,
						dataType: 'json',
						success: function (msg) {
							type= msg.data.tip>0?true:false;
						}
					});
					return type;
				},
			}
		});
		var pid=location.search.split("=")[1]
		if(sessionStorage.getItem("uid")==''||sessionStorage.getItem("uid")==null){
			location="/login";
		}else {
			v_modelList.uname=sessionStorage.getItem("name");
		}
		function toInterface() {
layer.open({
			    title: '确认进入下一阶段',
			    closeBtn: 1,
				shadeClose: true,
			    type: 2,
			    area: ['300px', '200px'],
			    fixed: false, //不固定
			    maxmin: true,
			    content: '/toInterface',
			
			});
		}
function showpdf() {
	layer.open({
		title: '需求文档',
		closeBtn: 1,
		shadeClose: true,
		type: 2,
		area: ['800px', '600px'],
		fixed: false, //不固定
		maxmin: true,
		content: '/add_showpdf?pid='+getParam("pid")+"&stage=1",

	});
}
	</script>
</html>
