<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/lib/layui/css/modules/layer/default/layer.css" />
    <link href="/css/model_list.css" rel="stylesheet" />
</head>
<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<body>
<div id="v_test">
    <ul class="layui-nav">
        <li class="layui-nav-item top_title">

            <a style="font-size: 3.5vw!important;letter-spacing: 1vw; color: white;cursor: pointer;" href="index">欢迎进入AS软件开发全流程管理平台</a>
        </li>


        <!-- <li class="layui-nav-item">
      <a href="">个人中心<span class="layui-badge-dot"></span></a>
    </li> -->
        <li class="layui-nav-item" lay-unselect="" style="float: right;margin-right: 2vw;">
            <a href="javascript:;">
                <!-- <img src="//t.cn/RCzsdCq" class="layui-nav-img"> -->欢迎:{{uname}}</a>
            <dl class="layui-nav-child">
                <dd><a style="cursor: pointer;" onclick=creat()>创建项目</a></dd>
                <dd><a style="cursor: pointer;" onclick=xinxi()>修改信息</a></dd>
                <dd><a style="cursor: pointer;" onclick=mail()>发邮件</a></dd>
                <!-- <dd><a href="javascript:;">安全管理</a></dd> -->
                <dd><a style="cursor: pointer;" onclick=layout()>退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" style="float: right;">

            <a href="/msg">消息<span class="layui-badge" >{{num}}</span></a>
        </li>
    </ul>
    <div><p style="margin: 20px;font-size: 20px;color:red">当前阶段：测试</p></div>
    <div>
        <button type="button" class="layui-btn layui-btn-lg" onclick=tointtest()>接口测试</button>
        <button type="button" class="layui-btn layui-btn-lg" onclick=todemandtest()>需求测试</button>
    </div>
</div>

</body>
<script src="/lib/jquery-3.4.1.min.js"></script>
<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/js/common.js"></script>
<script src="/lib/vue.js"></script>
<script>
    $.ajax({
        url:"/mail/getnum",
        type:"get",
        data:{id:sessionStorage.getItem("uid")},
        success:function (msg) {
            sessionStorage.setItem("num",msg.data.tip);
        }
    });
    var v_test=new Vue({
        el: '#v_test',
        data: {
            data1:[],
            uname: sessionStorage.getItem("name"),
            num:sessionStorage.getItem("num")
        },
        beforeCreate:function () {


        },
        methods: {

        },})
    
    function tointtest() {
        // layer.open({
        //     title: '接口测试',
        //     closeBtn: 1,
        //     shadeClose: true,
        //     type: 2,
        //     area: ['1500px', '600px'],
        //     fixed: false, //不固定
        //     maxmin: true,
        //     content:
        location='/interfacetest?pid='+getParam("pid");

        // });
    }
    
    function todemandtest() {
        // layer.open({
        //     title: '发送邮件',
        //     closeBtn: 1,
        //     shadeClose: true,
        //     type: 2,
        //     area: ['1400', '800'],
        //     fixed: false, //不固定
        //     maxmin: true,
        //     content:
              location=  '/demandtest?pid='+getParam("pid");

        // });
    }
</script>
</html>